html,
body {
    height: 100vh;
    margin: 0;
}

body {
    font-family: "lato", "Playfair Display", Arial, Helvetica, sans-serif;
    line-height: 1.5; 
}
/*Nav menu*/
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color:#EFECE3;
}

.logo {
   font-size: 1.5em;
   text-decoration: none;
   color: #2D2D2D;
   font-family: "Playfair Display", serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    color: #2D2D2D;
}

.active {
    font-weight: bold;
}

.search {
    padding: 7px 12px;
    border: 1px solid #ccc;
    border-radius: 1px;
    color: #2D2D2D;
    background-color: #FFFF;
}

/*Banner-container*/
.banner-img-container {
    position: relative;
    background-image: url(../images/home-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    min-height: 70vh;
}

.banner-container {
    margin: 0 auto;
    padding: 30px;
    position: absolute;
    top: 100px;  
}

.large-text {
    display: flex;
    font-family: 'Playfair Display', serif;
    font-size: 72px;
    line-height: 1,5rem;
    margin-top: 5px;
}

.small-text {
    font-size: 28px;
    font-style: italic;
    line-height: 1,5rem;
    margin-bottom: 30px;
}

.cta-banner {
    width: 100px; /* Angi ønsket bredde */
    height: 40px; /* Angi ønsket høyde */
    padding: 10px 25px 10px 25px;
    background-color: transparent; /* Angi gjennomsiktig bakgrunnsfarge */
    color: #2D2D2D; /* Legg til ønsket tekstfarge */
    border: 1px solid #2D2D2D; /* Legg til en solid kantlinje */
    border-radius: 0; /* Fjern avrundede hjørner */
    font-size: 16px; /* Angi ønsket fontstørrelse */
    font-weight: bold;
    cursor: pointer; /* Endre musepekeren til et håndikon */  
    line-height: 30px; /* Juster linjehøyden for å oppnå vertikal midtstilling */
}

.loading-indicator {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #BF8C60;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: 50%;
    animation: spin 2s linear infinite;
}

.error {
    border: 1px solid darkred;
    padding: 1rem;
    color: darkred;
    background: rgba(255, 0, 0, 0.1);
}

/* Carousel */
.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 20px 30px;
    margin-bottom: 30px;
    background-color: #C7BBA8;
}

.carousel-inner {
    display: flex;
    overflow: hidden;
    gap: 20px; /* Legger til et gap mellom lysbildene */
}

.carousel-slide {
    flex: 0 0 auto;
    width: 100%;
    display: none;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
}

.carousel-prev {
    left: 0;
}

.carousel-next {
    right: 0;
}

/*dette kan kanskje slettes, teste */
.carousel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 100px 40px;
    margin-bottom: 50px;
    margin-left: 180px;
    margin-right: 180px;
   
}

.carousel-card {
    flex: 1 0 30%;
    position: relative; /* Legg til relativ posisjon */  
}

.carousel__image {
    width: 100%;
    height: 500px;
    background-color: #fff;
    object-fit: cover;
}

/*Blog-posts-container*/
.blog-posts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 100px 40px;
    margin-bottom: 50px;
    background-color: #615C52;
}

.blog-card {
    flex: 1 0 30%;
    position: relative; /* Legg til relativ posisjon */  
}

.blog__header {
    margin-bottom: 10px; /* Legg til ekstra avstand mellom tittelen og knappen */
    color:#F7F5F2;
    font-size: 26px;
    font-weight:400;
}

.product__image {
    width: 100%;
    height: 600px;
    background-color: #fff;
    object-fit: cover;
}

h2 {
    display: block;
    font-size: 1em;
    text-align: left;
    font-weight: bolder;
}

.cta-blog-posts {
    position: absolute; /* Sett posisjon til absolutt */
    bottom: 10; /* Plasser knappen nederst i kortet */
    left: 0; /* Plasser knappen til venstre i kortet */
    margin-top: 15px;
    text-align: center; /* Legg til denne linjen for å sentrere teksten */
    line-height: 30px; /* Juster linjehøyden for å oppnå vertikal midtstilling */
    width: 100px; /* Angi ønsket bredde */
    height: 30px; /* Angi ønsket høyde */
    padding: 10px 25px 10px 25px;
    background-color: transparent; /* Angi gjennomsiktig bakgrunnsfarge */
    color: #F7F5F2; /* Legg til ønsket tekstfarge */
    border: 1px solid #F7F5F2; /* Legg til en solid kantlinje */
    border-radius: 0; /* Fjern avrundede hjørner */
    font-size: 16px; /* Angi ønsket fontstørrelse */
    cursor: pointer; /* Endre musepekeren til et håndikon */   
}

/*My-blog-post-container*/
.my-blog-post-header,
.read-header,
.last-post-header {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 5px;
}

.my-blog-post-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 60px 40px;
    margin-bottom: 30px;
    background-color: #C7BBA8;
}

.my-blog-post-card {
    flex: 1;
}

.my-blog-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fff;
    object-fit: cover;
}

/*bottom-home-container*/
.bottom-home-container {
    max-width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;   
}

.left-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    text-align: center;
    justify-content: center;
    padding: 20px 50px 20px 50px;
    font-size: 18px;
    background-color: #615C52;
    max-height: 600px; 
}

.text-bottom-home-container {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 52px;
    font-weight: lighter;
    color:#F7F5F2;
    padding-left: 20px;
    padding-right: 20px;
}

.cta-bottom-home {
    width: 100px; /* Angi ønsket bredde */
    height: 30px; /* Angi ønsket høyde */
    padding: 10px 25px 10px 25px;
    background-color: transparent; /* Angi gjennomsiktig bakgrunnsfarge */
    color: #F7F5F2; /* Legg til ønsket tekstfarge */
    border: 1px solid #F7F5F2; /* Legg til en solid kantlinje */
    border-radius: 0; /* Fjern avrundede hjørner */
    font-size: 16px; /* Angi ønsket fontstørrelse */
    cursor: pointer; /* Endre musepekeren til et håndikon */   
    text-align: center; /* Legg til denne linjen for å sentrere teksten */
    line-height: 30px; /* Juster linjehøyden for å oppnå vertikal midtstilling */
    margin: 0 auto; /* Legg til denne linjen for å sentrere knappen horisontalt */
}

.right-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 600px;
}

.bottom-home-img{
    display: flex;
    flex: 1;
    height: 500px;  
    object-fit: cover;
}

/*post site*/
.post-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 100px 40px;
    margin-bottom: 50px;
    margin-left: 180px;
    margin-right: 180px;
}

.post-card {
    flex: 1 0 30%;
    position: relative; /* Legg til relativ posisjon */  
}

.post__image {
    width: 100%;
    height: 500px;
    background-color: #fff;
    object-fit: cover;
}

.post-header {
    text-align: center; /* Sørger for at teksten er sentrert */
    margin-top: 0; /* Fjerner eventuell toppmargin */
    margin-bottom: 20px; /* Legg til ønsket bunnmargin */
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 100;
    
}

/*Blog site*/
.hr-line {
    margin-top: 40px;
}

.blog-line {
    width: 90%;
    display: block;
    border-top: 1px solid;
    color:#2D2D2D;
}

.blog-header {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 5px;  
    margin-left: 5%; /* Juster marginen relativt til 5% av foreldrelementets bredde */
    position: relative; /* Setter posisjonen til relativ for å kunne justere vertikalt */
    top: 0.5em; /* Justerer vertikalt */
    transform: translateY(-50%); /* Sentrerer teksten vertikalt */
}

.blog-container {
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
   
}

.blog-section {
    max-width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.left-blog-container {
    max-width: 500px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    
    justify-content: center;
    padding: 20px 50px 20px 50px;
    font-size: 18px;
    background-color: #615C52;
    max-height: 600px;  
    margin-left: 5%; /* Juster marginen relativt til 5% av foreldrelementets bredde */
    margin-left: auto; /* Plasser knappen i høyre hjørne av containeren */
}

.text-blog-container {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 52px;
    font-weight: lighter;
    color:#F7F5F2;
    padding-left: 20px;
    padding-right: 20px;
}

.cta-blog {
    width: 100px; /* Angi ønsket bredde */
    height: 30px; /* Angi ønsket høyde */
    padding: 10px 25px 10px 25px;
    background-color: transparent; /* Angi gjennomsiktig bakgrunnsfarge */
    color: #F7F5F2; /* Legg til ønsket tekstfarge */
    border: 1px solid #F7F5F2; /* Legg til en solid kantlinje */
    border-radius: 0; /* Fjern avrundede hjørner */
    font-size: 16px; /* Angi ønsket fontstørrelse */
    cursor: pointer; /* Endre musepekeren til et håndikon */   
    text-align: center; /* Legg til denne linjen for å sentrere teksten */
    line-height: 30px; /* Juster linjehøyden for å oppnå vertikal midtstilling */
    margin: 0 auto; /* Legg til denne linjen for å sentrere knappen horisontalt */
    margin-left: 5%; /* Juster marginen relativt til 5% av foreldrelementets bredde */
}
 

.right-blog-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 600px;
}

.blog-img {
    display: flex;
    flex: 1;
    height: 500px;  
    object-fit: cover;
}

.cta-blog-container {
    display: flex;
    justify-content: center; /* Sentrerer elementet horisontalt */
    margin-top: 20px;
}

.cta-blog-bottom {
    width: 100px; /* Angi ønsket bredde */
    height: 30px; /* Angi ønsket høyde */
    padding: 10px 25px 10px 25px;
    background-color: transparent; /* Angi gjennomsiktig bakgrunnsfarge */
    color: #2D2D2D; /* Legg til ønsket tekstfarge */
    border: 1px solid #2D2D2D; /* Legg til en solid kantlinje */
    border-radius: 0; /* Fjern avrundede hjørner */
    font-size: 16px; /* Angi ønsket fontstørrelse */
    cursor: pointer; /* Endre musepekeren til et håndikon */   
    text-align: center; /* Legg til denne linjen for å sentrere teksten */
    line-height: 30px; /* Juster linjehøyden for å oppnå vertikal midtstilling */
}

/*about page*/
.about-container {
    background-color: #615C52;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 30px;
}

.about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.about-flexbox {
    max-width: 1000px;
    margin: 0 auto;
    display: flex; 
    gap: 40px;
}

.about-flexbox * {
    flex: 1;
   
}

.about-flexbox>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.about-header {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: lighter;
    color:#F7F5F2;
}

.about-text>p {
    color: #F7F5F2;
}

.amanda {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.cta-about {
    width: 100px; /* Angi ønsket bredde */
    height: 30px; /* Angi ønsket høyde */
    padding: 10px 25px 10px 25px;
    background-color: transparent; /* Angi gjennomsiktig bakgrunnsfarge */
    color: #F7F5F2; /* Legg til ønsket tekstfarge */
    border: 1px solid #F7F5F2; /* Legg til en solid kantlinje */
    border-radius: 0; /* Fjern avrundede hjørner */
    font-size: 16px; /* Angi ønsket fontstørrelse */
    cursor: pointer; /* Endre musepekeren til et håndikon */   
    text-align: center; /* Legg til denne linjen for å sentrere teksten */
    line-height: 30px; /* Juster linjehøyden for å oppnå vertikal midtstilling */
}

/*about page bottom*/
.about-container-bottom {
    max-width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;   
    background-color: #C7BBA8;
    
}

.about-image-bottom {
    object-fit: cover;  
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.about-flexbox-bottom {
   max-width: 100%;
    margin: 0 auto;
    display: flex; 
    gap: 40px;   
    align-items: center; /* Sentrerer elementene vertikalt */
}

.about-flexbox-bottom * {
    flex: 1;  
}

.about-flexbox-bottom>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.about-text-bottom>p {
    color: #F7F5F2;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 46px;
    text-align: center; /* Sentrerer teksten horisontalt */
}

.cta-about-bottom {
    width: 100px; /* Angi ønsket bredde */
    height: 30px; /* Angi ønsket høyde */
    padding: 10px 25px 10px 25px;
    background-color: transparent; /* Angi gjennomsiktig bakgrunnsfarge */
    color: #F7F5F2; /* Legg til ønsket tekstfarge */
    border: 1px solid #F7F5F2; /* Legg til en solid kantlinje */
    border-radius: 0; /* Fjern avrundede hjørner */
    font-size: 16px; /* Angi ønsket fontstørrelse */
    cursor: pointer; /* Endre musepekeren til et håndikon */   
    text-align: center; /* Legg til denne linjen for å sentrere teksten */
    line-height: 30px; /* Juster linjehøyden for å oppnå vertikal midtstilling */
}

/*contact me*/
input, select, textarea {
    border: none;
    border-bottom: 1px solid #0A3641; /* Legger til en bunnlinje */
    padding: 10px;
    border-radius: 0;
    background-color: transparent; /* Gjennomsiktig bakgrunn */
    outline: none; /* Fjerner den blå fokuslinjen ved fokusering */
} 

/* Style for fokuslinjen på inputfeltene */
input:focus, select:focus, textarea:focus {
    border-bottom: 2px solid #0A3641; /* Endrer tykkelsen på bunnlinjen ved fokusering */
}

.contact-info-container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    gap: 40px;
    flex-wrap: wrap;/*kan fjernes*/
}

.contact-us-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    line-height: 1.8; 
    flex: 1 1 45%; /* denne er lagt til */
}

.contact-input-style {
    height: 115px;
}

.cta_send {
    margin-top: 15px;
    height: 40px;
    width: 110px;  
    background-color: #615C52;
    color: #EFECE3; /* Legg til ønsket tekstfarge */
    border: 1px solid #615C52; /* Legg til en solid kantlinje */
    border-radius: 0; /* Fjern avrundede hjørner */
    font-size: 16px; /* Angi ønsket fontstørrelse */
    cursor: pointer; /* Endre musepekeren til et håndikon */   
    text-align: center; /* Legg til denne linjen for å sentrere teksten */ 
}

.cta-home-contact {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container-contact {
  max-width: 1000px;
  background-color: rgba(199, 187, 168, 0.14);

  margin: 0 auto;
  border-radius: 30px;
  padding: 20px; /* Legg til ønsket padding */
  margin-top: 30px;
}

.contact-us-container-one {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 2;
}


/*Footer*/
.footer-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 10em;
    background-color: #EFECE3;
    color:#2D2D2D; 
    padding-bottom: 40px;
    padding-top: 30px;
    margin-top: 20px;
 }

.footer-heading {
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
    color: #2D2D2D;

 }
    
.help>ul {
    display: block;
    margin: 0;
    padding: 0; 
    font-size: 20px;
 }

.li-footer>a,
.icon {
    text-decoration: none;
    color: #2D2D2D;
    font-size: 18px;
 }

 .icon {
    color: #2D2D2D; /* Velg ønsket farge for ikonet */
    font-size: 24px; /* Velg ønsket størrelse for ikonet */
    margin-right: 10px; /* Legg til ønsket høyremarg til ikonet for plassering */
}

.help {
    color: #2D2D2D;  
    flex: 1; 
    line-height: 1,6;
 }

.explor,
.follow {
    flex: 1; 
    line-height: 1.6;
    font-size: 20px; 
}

.line-footer {
    width: 90%;
    display: block;
    border-top: 1px solid;
    color:#2D2D2D; 
    margin-top: -20px;
}

.copy-rights {
    background-color:#EFECE3;
    padding-left: 5%;
}

/* Modal content */
.modal {
    display: none; /* Skjul modalen som standar */
    position: fixed; /* Plasser modalen over hele siden */
    z-index: 1; /* Plasser modalen øverst */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Gjennomsiktig bakgrunn for modal */
}

/* Modal innhold */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

/* Lukkeknapp */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
